{% extends "base.html"  %}

{% block title %}Job Hunt Pro{% endblock title %}

{% block content %}
    <h1 class="mb-5 text-center">Job Hunt Pro</h1>
        <div class="container">
        {% if not jobs  %}
            <div class='text-center'>
                <h5>You currently have no jobs listed.</h5>
            </div>
        {% else %}
            <div class="row g-0">
                {% for job in jobs %}
                    <div class="col-3 mx-2">
                        <div class="card mb-3 bg-secondary rounded shadow-lg text-light">
                            <div class="card-body text-center">
                                <h3>{{ job.job_title }}</h3>
                                <h4>{{ job.employer }}</h4>
                                <h5>Applied: {{ job.application_date }}</h5>
                                <p class='card-text'>
                                    {{ job.job_description|truncatewords:30|linebreaks }}
                                </p>
                                <p class='card-text'>
                                    {{ job.get_status }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="text-center pt-3">
            <a href="{% url 'jobhunt:add_job' %}" class="btn btn-primary">Add Job</a>
        </div>
    </div>
{% endblock %}